<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SignInController</servlet-name>
  	<display-name>SignInController</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.SignInController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogInController</servlet-name>
  	<display-name>LogInController</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.LogInController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogIn2Controller</servlet-name>
  	<display-name>LogIn2Controller</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.LogIn2Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpPageController</servlet-name>
  	<display-name>SignUpPageController</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.SignUpPageController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerLogin2</servlet-name>
  	<display-name>ManagerLogin2</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.ManagerLogin2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerSignUp</servlet-name>
  	<display-name>ManagerSignUp</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.ManagerSignUp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubmitRequest</servlet-name>
  	<display-name>SubmitRequest</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.SubmitRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewEmployeeRequestsController</servlet-name>
  	<display-name>ViewEmployeeRequestsController</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.ViewEmployeeRequestsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowRequest</servlet-name>
  	<display-name>ShowRequest</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.ShowRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditRequestController</servlet-name>
  	<display-name>EditRequestController</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.EditRequestController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExecuteUpdateController</servlet-name>
  	<display-name>ExecuteUpdateController</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.ExecuteUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerShowRequest</servlet-name>
  	<display-name>ManagerShowRequest</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.ManagerShowRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExecuteApproved</servlet-name>
  	<display-name>ExecuteApproved</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.ExecuteApproved</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteRequest</servlet-name>
  	<display-name>DeleteRequest</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.DeleteRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteRequest2Controller</servlet-name>
  	<display-name>DeleteRequest2Controller</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.DeleteRequest2Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSpecificRequest</servlet-name>
  	<display-name>DeleteSpecificRequest</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.DeleteSpecificRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeShowRequest</servlet-name>
  	<display-name>EmployeeShowRequest</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.EmployeeShowRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowEmployeeRequests</servlet-name>
  	<display-name>ShowEmployeeRequests</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.ShowEmployeeRequests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteRequest3Controller</servlet-name>
  	<display-name>DeleteRequest3Controller</display-name>
  	<description></description>
  	<servlet-class>com.training.controller.DeleteRequest3Controller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignInController</servlet-name>
  	<url-pattern>/SignInController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogInController</servlet-name>
  	<url-pattern>/LogInController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogIn2Controller</servlet-name>
  	<url-pattern>/LogIn2Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpPageController</servlet-name>
  	<url-pattern>/SignUpPageController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerLogin2</servlet-name>
  	<url-pattern>/ManagerLogin2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerSignUp</servlet-name>
  	<url-pattern>/ManagerSignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitRequest</servlet-name>
  	<url-pattern>/SubmitRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewEmployeeRequestsController</servlet-name>
  	<url-pattern>/ViewEmployeeRequestsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowRequest</servlet-name>
  	<url-pattern>/ShowRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditRequestController</servlet-name>
  	<url-pattern>/EditRequestController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExecuteUpdateController</servlet-name>
  	<url-pattern>/ExecuteUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerShowRequest</servlet-name>
  	<url-pattern>/ManagerShowRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExecuteApproved</servlet-name>
  	<url-pattern>/ExecuteApproved</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteRequest</servlet-name>
  	<url-pattern>/DeleteRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteRequest2Controller</servlet-name>
  	<url-pattern>/DeleteRequest2Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSpecificRequest</servlet-name>
  	<url-pattern>/DeleteSpecificRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeShowRequest</servlet-name>
  	<url-pattern>/EmployeeShowRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowEmployeeRequests</servlet-name>
  	<url-pattern>/ShowEmployeeRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteRequest3Controller</servlet-name>
  	<url-pattern>/DeleteRequest3Controller</url-pattern>
  </servlet-mapping>
</web-app>
